<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<header>
		<%- include('../partials/header.ejs') %>
	</header>
	<section class="user-section">
		<h2><%= project.name %></h2>
		<div >
			<h4>Voici les infos sur le projet :</h4>
			<p>Github Url : <%= project.githubUrl %></p>
			<p>Github repo : <%= project.githubRepo %></p>
			<p>Auteur du projet : <a href= <%= `/user/${user.id}` %> ><%= user.firstName %></a></p>
			<h4>Description :</h4>
			<p><%= project.description %></p>
		</div>

	</section>
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>
</body>

</html>
