<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<header>
		<%- include('../partials/header.ejs') %>
	</header>
	<section class="user-section">
		<h2><%= user.firstName %></h2>
		<div class="description">
			<h4>Voici son histoire :</h4>
			<p><%= user.description %></p>
		</div>

	</section>
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>
</body>

</html>
